body{
    background-color: black;
}
#laliga{
    color: white;
}
#ulke{
    color: white;
    margin-left: 100px;
}
.dropdown-menu{
    background-color: #2c2f33;
}
.dropdown-item{
    background-color: #2c2f33;
    color: white;
}
  .breadcrumb-item + .breadcrumb-item::before {
  content: '>';
  /*color: #537BFF;*/
  padding: 0 0.5rem;
}
#ust{
    color: gray;
}

#puantablosu  :hover{
    background-color: #4c4e52;
}

#mactablosu :hover{
    background-color: #4c4e52;
}

/*
#headstar :hover{
    background-color: #537BFF;
}*/